# Django

DJANGO_CONFIGURATION=Dev
# base64 /dev/urandom | head -c50
DJANGO_SECRET_KEY=change_it

DATABASE_HOST=pgbouncer
DATABASE_USER=postgres
DATABASE_PASSWORD=change_it
DATABASE_NAME=postgres
DATABASE_PORT=6432
# DATABASE_OPTIONS={"sslmode": "require"}
DATABASE_CONN_MAX_AGE=2
