# Postgres
DATABASES_HOST=postgres
DATABASES_PORT=5432
DATABASES_DBNAME=postgres
DATABASES_USER=postgres
DATABASES_PASSWORD=postgres

# PgBouncer
PGBOUNCER_LISTEN_PORT=6432
PGBOUNCER_MAX_CLIENT_CONN=10000
PGBOUNCER_MAX_DB_CONNECTIONS=100
